<app-header></app-header>
<div class="container mat-drawer-container">
	<hello name="{{ name }}"></hello>
	<p>
		Start editing to see some magic happen :)
	</p>
	<button mat-raised-button color="accent">Get Started</button>
</div>

<router-outlet></router-outlet>